.scroll_btn {
  background: #ffde03;
  color: #000;
  border: 4px solid #000;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 6px 6px 0px #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll_btn:hover {
  transform: translateY(-5px) scale(1.1);
  background: #e74c3c;
  color: #fff;
}