.page-block-wrapper {
  position: relative;
  z-index: 20;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.page-block-wrapper-black {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1366px;
  min-height: 600px;
  padding: 20px 0;
}