.link-block {
  display: flex;
  padding-top: 30px;
  width: 100%;
  background-image: url("./wallpaper-skin.png");
  /* make custom, only for homePage */
}

.logo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3px;
  position: relative;
  bottom: 5px;
}

.routes-block {
  display: flex;
  gap: 30px;
}

.header-link {
  color: #000;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.05em;
  text-decoration: none;
}

.logo-text {
  color: #000;
  font-family: "Passero One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}
