.header{
  background-image: url("./HeaderBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 130vh;  
  width: 100%;
}

.link-block{
  display: flex;
  padding-top: 30px;
  gap: 150px;
}

.logo-block{
  display: flex;
}


.routes-block{
  display: flex;
  gap: 30px;
}


.header-link{
  color: #272727;
  font-family: "Passero One", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
}

.logo-text{
  color: #000;
  font-family: "Passero One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

.start-btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px; 
}

.start-btn {
  background: #aa14f0; 
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  padding: 20px 80px;
  cursor: pointer;
  transform: rotate(-5deg);
  transition: transform 0.2s ease;
  box-shadow: 6px 6px 0px #ff6600;
  border: 5px solid #000;
   border-radius: 5px;
  max-width: 100%;
}

.start-btn:hover {
  transform: rotate(-5deg) scale(1.05);
}
