.header{
  background-image: url("./HeaderBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 130vh;  
  width: 100%;
}

.start-btn-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px; 
}
