.page-block-wrapper {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-block-wrapper-black {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: 768px;
}
