.input-block {
  display: flex;
  align-items: center; 
  max-width: 800px;
  width: 100%;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 8px 16px; 
}

.ai-input {
  flex-grow: 1; 
  border: none;
  background: none;
  font-weight: 400;
  font-size: 16px;
  color: #000; 
  outline: none;
  padding: 0 8px; 
}

.clip-button,
.send-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px; 
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #919191;
  transition: all 0.2 ease;
  border-radius: 10px;
}

.right-buttons-wrapper {
  display: flex;
  align-items: center;
  gap: 4px; 
}

.clip-button:hover,
.send-button:hover {
  background-color: #e5e7eb;
}

.preview-image{
  width: 144px;
  height: 144px;
  border-radius: 10px;
  border: 1px solid #919191;
  object-fit: cover;
}

.ai-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  gap: 10px; 
}

.remove-image {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px; 
  right: 10px; 
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  background-color: #fff;
}

.preview-block {
  position: absolute;
  bottom: calc(100% + 5px); 
  left: 12px;
  z-index: 10;
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}