
.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; 
  max-width: 420px; 
  padding: 24px;
  background-color: #fafafa; 
}

.closed {
  transform: rotate(180deg);
}

.switcher-block{
  display: flex;
}