.link-block {
  display: flex;
  padding-top: 30px;
  width: 100%;
}

.logo-block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3px;
  position: relative;
  bottom: 5px;
}

.routes-block {
  display: flex;
  gap: 30px;
}

.header-link {
  position: relative;
  color: #000;
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.05em;
  text-decoration: none;
  height: 20px;
}

.header-link::after {
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease-in-out;
}

.header-link:hover::after {
  width: 100%;
}

.logo-text {
  color: #000;
  font-family: "Passero One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
}

@media (max-width: 700px) {
  .link-block {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
  }

  .logo-block {
    bottom: 0;
  }

  .logo-text {
    font-size: 28px;
  }

  .routes-block {
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 20px;
  }

  .header-link {
    font-size: 14px;
    height: 18px;
  }

  .header-link::after {
    top: 22px;
    height: 1.5px;
  }
}