body {
  margin: 0;
  background-color: #f0f0f0;
}

.comic-admin {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: stretch;
  overflow: hidden;
}

.comic-sidebar {
  width: 250px;
  background: #ff5252;
  border-right: 4px solid #000;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  margin: 0;
}

.comic-logo {
  font-size: 2.5rem;
  color: white;
  text-shadow: 4px 4px 0px #000;
  margin-bottom: 40px;
  transform: rotate(-5deg);
}

.nav-item {
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000;
  background: #fff;
  border: 4px solid #000;
  background: white;
  transition: transform 0.1s;
  max-width: 150px;
  width: 100%;
}

.nav-item:hover,
.nav-item.active {
  transform: translate(-4px, -4px);
  box-shadow: 4px 4px 0px #000;
  background: #ffde03;
}