.search-block {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  filter: drop-shadow(8px 8px 0px #000);
}

.search-block-input {
  width: 100%;
  height: 60px;
  font-size: 24px;
  border: 4px solid #000;
  outline: none;
  font-family: 'Comic Neue', cursive;
  padding: 15px 20px 15px 60px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
  font-weight: 700;
  text-transform: uppercase;
}

.search-block-input::placeholder {
  font-family: 'Comic Neue', cursive;
  font-weight: 700;
  font-size: 24px;
  color: #999;
}

.search-button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  z-index: 2;
}

@media (max-width: 600px) {
  .search-block-input {
    height: 50px;
    font-size: 18px;
    padding-left: 50px;
  }

  .search-block-input::placeholder {
    font-size: 18px;
  }
}