.sidebar-header{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-open-sidebar{
  flex-shrink: 0;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  cursor: pointer;
}

.main-title {
  margin-bottom: 32px ;
  font-weight: 600 ;
}

.section-title {
  margin-bottom: 16px ;
  font-weight: 500;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.section-title:hover{
  background-color: #e5e7eb;
}
