@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #e2e3e7;
  height: 100%;
  background-image: url("/public/wallpaper-skin.png");
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

@font-face {
  font-family: "Franchise Regular";
  src: url("./assets/fonts/Franchise-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ff0000;
  border: 1px solid #000;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: repeating-linear-gradient(
    45deg,
    #ff0000,
    #ff0000 8px,
    #000 8px,
    #000 12px
  );
  border-radius: 6px;
}
