.create-article-block {
  display: flex;
  flex-direction: column;
  max-width: 404px;
  gap: 25px;
  /* будет меняться (наверное) */
  padding-top: 70px;
  padding-bottom: 200px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create-article-title {
  font-weight: 400;
  font-size: 50px;
  text-transform: uppercase;
  color: #000;
  font-family: "Franchise Regular", sans-serif;
}

.create-article-description {
  font-family: "Crimson", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 155%;
  text-align: center;
  color: #000;
  position: relative;
}

.sneaker-wrapper {
  position: absolute;
  top: 175%;
  left: 0%;
}