.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

@media (max-width: 410px) {
    .sidebar-container {
        height: 100vh;
        overflow-y: auto;
    }
}